/.idea/
__pychache__/
__pycache__/*.pyc

/explore_GPT4.ipynb

/test.ipynb

/AdaAX-main/
/backup/
/lstar/

/RNN/__pycache__/

/data/__pycache__/
/data/rnn_result/
/data/vocab/*.pickle
/data/dataloader/*.pickle
/data/raw_data/*.csv
/data/synthetic_data/*.pickle
/data/tomita_data/*.pickle
/data/real_data/*.csv
/data/rnn_checkpoints/*.pkl
/data/dfa/*.pickle
/data/image/*.png
/data/image/*
/data/temp/*.png
/data/temp/*
