/.idea/
__pychache__/
__pycache__/*.pyc

/explore_GPT4.ipynb

/backup/
/easy_implementation/
/lstar/

/RNN/__pycache__/
/RNN/imdb.ipynb
/RNN/imdb2023.5.16.ipynb
/RNN/yelp_classification_ChatGPT.ipynb
/RNN/yelp_classification_GPT4.ipynb

/data/__pycache__/
/data/*/
/data/*.npy
/data/*.csv
/data/*.json
/data/*.pickle
/data/*.pkl

*.npy
*.csv
*.json
*.pickle
*.pkl
*.pyc
