/backup.py
/explore_GPT4.ipynb
/test.ipynb
/test.py
/easy_implementation/
/lstar/
/data/*.npy
/data/*.csv
/data/*.json

/.idea/
/RNN/data_loader.py
/RNN/main.py
/RNN/model.py
/RNN/imdb.ipynb
/RNN/imdb2023.5.16.ipynb
/RNN/yelp_classification_ChatGPT.ipynb
/RNN/yelp_classification_GPT4.ipynb

/__pychache__/
